/* 
    Created on : 26-abr-2014, 0:28:10
    Author     : Vicente
*/

h1 { text-align: center; color: #385e98;}
table { width: 80%;margin: 0 auto;border: 1px solid #009999; border-radius: 4px;}
td {padding: 0 5px;}
th{  background-color: #0066ff; color: #fff;}
tr:nth-child(odd) {  background-color: #def;}
tr:nth-child(even) {  background-color: #fff;}
.num{ text-align: right;}